<h1>Hi! Veuillez confirmer votre mail</h1>

<p>
    Veuillez comfirer votre adresse mail en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Au revoir!
</p>
