<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Médiathèque</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/map">Lieux</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Genre
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/Romans">Romans</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/Policier">Policier</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/Amour">Amour</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/Autobiographique">Autobiographique</a>
                </li>
                <li>
                  <a class="dropdown-item" href="thriller">Thriller</a>
                </li>
                <li>
                  <a class="dropdown-item" href="fiction">Fiction</a>
                </li>
              </ul>
            </li>
          </ul>
          {% if app.user %}
          <a class="dropdown-toggle d-flex align-items-end hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" 
            data-bs-toggle="dropdown" aria-expanded="false"
          >
            <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="25" alt="" loading="lazy"/>
          </a>
          <ul id="profile" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          {% if is_granted('ROLE_ADMIN') %}
            <li>
              <a class="dropdown-item" href="/admin">Admin</a>
            </li>
          {% endif %}
            <li>
              <a class="dropdown-item" href="/profile">Mes emprunt</a>
            </li>
            <li>
              <a class="dropdown-item" href="/logout">Logout</a>
            </li>
          </ul>
          {% else %}
            <a class=" d-flex align-items-end hidden-arrow" href="/login" role="button"><button class="btn btn-success">Se connecter</button></a>
          {% endif %}
        </div>

      </div>
    </div>
    <div class="container">
      <div id="intro-example" class="bg-image p-4 text-center shadow-1-strong rounded mb-4 text-white" style="background-image: url('https://mdbootstrap.com/img/new/slides/003.jpg');">
      </div>
    </div> 
  </nav>
</div>



  <style>
    /* Default height for small devices */
    #intro-example {
      height: 350px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 500px;
      }
    }



  </style>
